{% extends "layout.jinja2" %}

{% block content %}
    <div id="page-content">
      <section id="write-blog">
        <h1>Edit post</h1>
        <form id="blog-fields" method="POST">
          <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
          <label class="label">Title</label>
            <input name="title" type="text" id="post-title" value="{{ title }}" required>
{#           <label class="label">Publish date</label>
            <input id="post-date" required type="date"> #}
          <label class="label">Content</label>
            <textarea name="body" id="post-content" required rows="20" >{{ text }}</textarea>
          <input type="submit" value="Update" class="button">
          <input type="reset" value="Cancel" class="button"/>
        </form>
      </section>
    </div>
{% endblock content %}
