<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tag for media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Learning Journal | {{ page }}</title>
    <!-- Font Awesome CDN -->
    <script src="https://use.fontawesome.com/457d33e4c6.js"></script>
    <!-- Stylesheets -->
    <link rel=icon href="{{ request.static_path('learning_journal:static/favicon.png') }}">
    <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/styles/external/normalize.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/styles/base.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/styles/layout.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/styles/module.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('learning_journal:static/styles/state.css') }}">
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
        <ul id="connect-nav">
          <li><a href="https://www.linkedin.com/in/morgan-nomura-36a57b8" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn<a/></li>
          <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i>GitHub</a></li>
        </ul>
      </nav>
      <a href="/">
        <img src="{{ request.static_path('learning_journal:static/assets/nodes.png') }}"/>
        <p>Morgan Nomura // Blog</p>
      </a>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>